<%- include('../partials/headerAdmin'); -%>
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-4">
            <h6 id="titleReserv" class="m-0 font-weight-bold text-primary">Creat promos</h6>
        </div>

        <div class="card-body">


            <form action="addPromotion" method="post">
                <div class="form-row">
                    <div class="col">
                        <label for="inputState">date debut</label>
                        <input type="date" class="form-control date_d" name="date_debut">
                    </div>
                    <div class="col">
                        <label for="inputState">date fin</label>
                        <input type="date" class="form-control date_f" name="date_fin">
                    </div>
                    <div class="col">
                        <label for="rayon">Rayon</label>
                        <select name="fk_rayon" class="form-control fk_rayon">
                            <% if (adminRayon) { %>
                            <% for (var i = 0; i < adminRayon.length; i++) { %>
                            <option value="<%=adminRayon[i].id_admin_rayon %>">
                                <%=adminRayon[i].nom_admin_rayon %>-<%=adminRayon[i].type_cat %>
                            </option>
                            <% } %>
                            <% } %>

                        </select>
                    </div>
                    <div class="col">
                        <label for="product">Product</label>
                        <% if (products) { %>
                        <select name="prooduit" class="form-control prooduit">
                            <% for (var i = 0; i < products.length; i++) { %>
                            <option value=<%=products[i].id_prod %>>
                                <%=products[i].nom_prod %>
                            </option>
                            <% } %>
                            <% } %>

                        </select>
                    </div>
                    <div class="col">
                        <label for="remise">remise</label>
                        <select name="remise" class="form-control remise">
                            <option selected value="5">5%</option>
                            <option value="10">10%</option>
                            <option value="15">15%</option>
                            <option value="20">20%</option>
                            <option value="25">25%</option>
                            <option value="30">30%</option>
                            <option value="50">50%</option>
                        </select>
                    </div>
                    <div style="margin-top: 2.5%;" class="col">
                        <input value="16" type="number" class="form-control fk_admin" name="fk_admin">
                    </div>
                    <div style="margin-top: 2.5%;" class="col">
                        <button type="button" id="add_row_product" class="btn btn-primary">add</button>
                    </div>

                </div>
                <div id="diplucate" class="form-row">
                </div>

                <hr>
                <div class="col">
                    <button id="add_promo" type="submit" class="btn btn-primary">add promos</button>
                </div>
            </form>

        </div>
    </div>


        <div  class="card shadow mb-4">
        <div class="card-header py-4">
            <% if (promo) { %>
            <h6 id="titleReserv" class="m-0 font-weight-bold text-primary">Promotion de Marjan <%=promo[i].nom_centre %>/<%=promo[i].nom_ville %> </h6>
            <% } %>
        </div>
        <div class="card-body">

            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>Product</th>
                        <th>Price</th>
                        <th>fidility</th>
                        <th>Quantity</th>
                                             
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% if (promo) { %>
                    <% for (var i = 0; i < promo.length; i++) { %>
                    <tr>
                        <th><%=promo[i].nom_prod %> </th>
                        <th><%=promo[i].prix %></th>
                        <th><%=promo[i].fidelite %></th>
                        <th><%=promo[i].qte_prod %></th>                     
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>

            </table>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <% if (typeof Jwt != "undefined") { %>
            <% var token = Jwt %>
    <script>
      let tok = <%- JSON.stringify(token) %>;
      let num = <%- JSON.stringify(num_centre) %>;

      data=[
    {
        tok:tok,
        num:num
    }
]
      localStorage.setItem('info', JSON.stringify(data));

        $(document).ready(function () {
            var max_fields = 10;
            var wrapper = $("#diplucate");
            var add_button = $("#add_row_product");
            var x = 0;
            $(add_button).click(function (e) {
                e.preventDefault();
                if (x < max_fields) {
                    x++;
                    // console.log(x);
                    $(wrapper).append(
                        `
					<div style="margin-top:1% ; width:100%" >
                        <div class="form-row">
                    <div class="col">
                        <input  type="date" class="form-control date_d" name="date_debut">
                    </div>
                    <div class="col">
                        <input type="date" class="form-control date_f" name="date_fin">
                    </div>
                    <div class="col">
                        <select name="fk_rayon" class="form-control fk_rayon">
                            <% if (adminRayon) { %>
                            <% for (var i = 0; i < adminRayon.length; i++) { %>
                            <option value="<%=adminRayon[i].id_admin_rayon %>">
                                <%=adminRayon[i].nom_admin_rayon %>-<%=adminRayon[i].type_cat %>
                            </option>
                            <% } %>
                            <% } %>

                        </select>
                    </div>
                    <div class="col">
                        <% if (products) { %>
                        <select name="prooduit" class="form-control prooduit">
                            <% for (var i = 0; i < products.length; i++) { %>
                            <option value=<%=products[i].id_prod %>>
                                <%=products[i].nom_prod %>
                            </option>
                            <% } %>
                            <% } %>

                        </select>
                    </div>
                    <div class="col">
                        <select name="remise" class="form-control remise">
                            <option selected value="5">5%</option>
                            <option value="10">10%</option>
                            <option value="15">15%</option>
                            <option value="20">20%</option>
                            <option value="25">25%</option>
                            <option value="30">30%</option>
                            <option value="50">50%</option>
                        </select>
                    </div>
                    <div class="col">
                        <input value="16" type="number" class="form-control fk_admin" name="fk_admin">
                    </div>
                 
                        <button id="remove_product" type="button" class="btn btn-danger">Remove</button>

                   
                </div>
						</div>
		`
                    )


                }
                setTimeout(function () {
                    for (var i = 0; i < pr_select.length; i++) {
                        $("#product_select" + x + " option[value='" + pr_select[i] + "']")
                            .remove();
                    }
                }, 300);
            });
            $(wrapper).on("click", "#remove_product", function (e) {
                e.preventDefault();
                $(this).parent('div').remove();
                x--;
            })

        });

        $(document).on("click", "#add_promo", function (e) {
            e.preventDefault();

            var date_d = [];
            var date_f = [];
            var fk_rayon = [];
            var prooduit = [];
            var remise = [];
            var fk_admin = [];

            $('.date_d').each(function () {
                date_d.push($(this).val());
            });
            $('.date_f').each(function () {
                date_f.push($(this).val());
            });
            $('.fk_rayon').each(function () {
                fk_rayon.push($(this).val());
            });
            $('.prooduit').each(function () {
                prooduit.push($(this).val());
            });
            $('.remise').each(function () {
                remise.push($(this).val());
            });
            $('.fk_admin').each(function () {
                fk_admin.push($(this).val());
            });

            alert(remise)
            // $.ajax({
            //     url: "http://localhost:3000/api/admin/promo",
            //     method: "POST",
            //     data: {
            //         "date_debut": date_d,
            //         "date_fin": date_f,
            //         "fk_rayon": fk_rayon,
            //         "fk_prod": prooduit,
            //         "remise": remise,
            //         "fk_admin": fk_admin,
            //     },

            // });
        });
    </script>
  <% } %>


     
    <%- include('../partials/footer'); -%>