<%- include('../partials/headerPdg'); -%>
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-4">
            <h6 id="titleReserv" class="m-0 font-weight-bold text-primary">Creat account</h6>
        </div>
        <div style="width: 20%;">
            <button class="btn btn-primary btn-sm" style="margin-bottom: 1px; margin-top:20px" type="button"
                data-toggle="modal" data-target="#add_new_account" data-placement="top">
                <i class="fa fa-plus"></i>
                add new account
            </button>

            <button class="btn btn-primary btn-sm" style="margin-bottom: 30px; margin-top:5px" type="button"
                data-toggle="modal" data-target="#add_new_cat" data-placement="top">
                <i class="fa fa-plus"></i>
                add new category
            </button>
        </div>

        <div class="card-body">

            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>Admin</th>
                        <th>Center</th>
                        <th>Ville</th>
                        <th>Action</th>
                    </tr>
                </thead>
                    <tbody  class="text-center">
                        <% if (adminCentre) { %>
                        <% for (var i = 0; i < adminCentre.length; i++) { %>
                        <tr>
                            <th><%=adminCentre[i].email_admin %>  </th>
                            <th><%=adminCentre[i].nom_centre %></th>
                            <th><%=adminCentre[i].nom_ville %></th>
                            <td>
                                <form action="/deletePromo/" method="post"><button
                                        type="submit" class="btn btn-sm btn-danger">desactive</button></form>
                            </td>
    
    
                        </tr>
                        <% } %>
                        <% } %>
                </tbody>

            </table>
        </div>
    </div>

    <!-- Add New  Account -->

    <div class="modal fade" id="add_new_account" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> add new account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/addCenterAdmin" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">name </label>
                            <input type="text" id="name" class="form-control" placeholder="name"
                                name="nom_admin">

                        </div>
                        <div class="form-group">
                            <label for="name">email </label>
                            <input type="text" id="email" class="form-control" placeholder="email"
                                name="email_admin">
                        </div>
                        <div class="form-group">
                            <label for="name">password </label>
                            <input type="password" class="form-control" placeholder="password" name="password_admin">
                        </div>
                        <div class="form-group">
                            <label for="name"> Centre</label>

                            <select name="center" id="center" class="custom-select">
                                <% if (center) { %>
                                <% for (var i = 0; i < center.length; i++) { %>
                                <option value="<%=center[i].id_centre %>">
                                    <%=center[i].nom_centre %>-<%=center[i].nom_ville %>
                                </option>
                                <% } %>
                                <% } %>
                            </select> </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">add</button>

                    </div>
                </form>

            </div>
        </div>
    </div>


    <!-- Add New  categoryy -->

    <div class="modal fade" id="add_new_cat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Add new categorie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/addCategorie" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">name </label>
                            <input type="text" id="brand_name_input" class="form-control" placeholder="Category"
                                name="type_cat">

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">add</button>

                        </div>
                </form>

            </div>
        </div>
    </div>



<script>
    var num = localStorage.getItem('info');
    var number = JSON.parse(num);
    console.log(number[0].num)
</script>

    <%- include('../partials/footer'); -%>