<%- include('../partials/headerPdg'); -%>
<div class="container-fluid">
    <!-- Cart for Statistiques -->
    <div class="row">

        <% if (statestics) { %>
            <input id='statestic_novalid' type="hidden" value="<%=statestics.data.novalid %>" id="">
            <% } %>
            <% if (statestics) { %>
                <input id='statestic_valid' type="hidden" value="<%=statestics.dta.valid %>"
                 >
                <% } %>

                <% if (statestics) { %>
                    <input id='encours' type="hidden" value="<%=statestics.encours.encours %>" id="">
                    <% } %>
   


    </div>



    <!-- Chart  -->
    <div>
        <canvas style="max-width: 700px;" id="myChart" ></canvas>
    </div>
    <!-- enddddd  -->




    <div id="prooomo" class="card shadow mb-4">
        <div class="card-header py-4">
            <h6 id="titleReserv" class="m-0 font-weight-bold text-primary">Promos</h6>
        </div>
        <div class="card-body">

            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>Center</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Cause</th>
                        <th>Action</th>
                                             
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% if (allPromo) { %>
                    <% for (var i = 0; i < allPromo.length; i++) { %>
                    <tr>
                        <td><%=allPromo[i].nom_centre %> a <%=allPromo[i].nom_ville %> </th>
                        <td><%=allPromo[i].nom_prod %></td>
                        <td><%=allPromo[i].prix %></td>
                        <td><%=allPromo[i].commentaire %></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">
                               Delete
                              </button>

                              <!-- modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                     Sure to delete this ?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                                      <form action="/deletePromo/<%=allPromo[i].id_promo_prod%>" method="post"><button
                                        type="submit" class="btn  btn-danger">yes</button></form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- end -->
                            
                        </td>


                    </tr>
                    <% } %>
                    <% } %>
                </tbody>

            </table>
        </div>
    </div>
  

  
              <script>

          var valid = document.getElementById('statestic_valid').value;
        var novalid = document.getElementById('statestic_novalid').value;
        var encours = document.getElementById('encours').value;

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["validate promo", "No validate promo", "promos en cours"],
                datasets: [{
                    label: 'Promotion',

                    data: [valid, novalid, encours],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',

                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>

   




    <%- include('../partials/footer'); -%>